#paypal_button_container {
    position: relative;
}

#paypal_amount_validator_button {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
	opacity: 0;
}

#paypal_amount_validator_button:hover {
	cursor: default;
}